# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: mas
    paths:
      confdir: ''
      conffile: ''
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
...
